*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: #808080;
    overflow: hidden;
    padding-left: 35rem;
}

.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 6rem;
    border-bottom: .1rem solid #000000;
    color: #fff;
}

.heading span{
    color:Black;
}

.title{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 6rem;
    border-bottom: .1rem solid #000000;
    color: #fff;
}

.title span{
    color: Black;
}

.head{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 5rem;
    border-bottom: .1rem solid #000000;
    color: #fff;
}
.head span{
    color: Black;
}
.pro{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 5rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}
.pro span{
    color: #000437;
}
header{
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background:#222222;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    object-fit: cover;
    border: .5rem solid;
}

header .user .nm{
    font-size:2rem;
    color: #7DF9FF;
}

header .user .jb{
    font-size:1rem;
    color: #1569c7;
}

header .nv{
    width: 100%;
}
header .nv ul{
    list-style: none;
    padding: 1rem ;
}

header .nv ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #43464b;
    color: #52B2BF;
    font-size: 2rem;
    border-radius: 5rem;
    text-decoration: none;  
}
header .nv ul li a:hover{
    background-color:#2F4F4F;
}

.Details .Row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.Details .Row .det{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 8rem;
}

.Details .Row .det h3{
    font-size: 2rem;
    color: Black;
    padding: 1rem 0;
    font-weight: normal;
}

.Details .Row .det h3 span{
    color: #800000;
    padding: 0. 5rem;
}
table,th,td{
    border:solid Black;
    border-collapse: collapse;
}
td{
    color: Black;
    padding: 1rem;
}
th{
    color: Black;
    padding: 1rem;
}
table{
    text-align: center;
    margin: 0 6rem;
    font-size: 2rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: #000000;
}
#lis li{
    margin: 0 9rem;
    color: Black;
    font-size: large;
    padding: .5rem 1rem;
}
.Project .Row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.Project .Row .det{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 8rem;
}

.Project .Row .det h3{
    font-size: 2rem;
    color: Black;
    padding: 1rem 0;
    font-weight: normal;
}

.Project .Row .det h3 span{
    color:  #800000;
    padding: 0. 5rem;
}